button{
    margin: 15px;
    width: 100px;
    height: 50px;
    align-items: center;
}

.btnCadastrar {
    background-color: #e91e63;
}

.mat-form-field {
    /*change color of label*/
    color: red !important;
}