.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group span {
    padding-left: 10px;
    font-weight: 200;
}

.header .title-group i {
    padding-right: 0.5px;
}