<mat-card>
    <mat-card-title>Confirmar Exclusão do Cliente</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome" [value]="client.nome" name="nome" autocomplete="off" autocapitalize="on"
                disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" [value]="client.idade" name="idade" autocomplete="off" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF" [value]="client.cpf" name="cpf" autocomplete="off" disabled
                mask="000.000.000-75">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [value]="client.telefone" name="telefone" autocomplete="off" disabled
                mask="(00)00000-0000">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [value]="client.email" name="email" autocomplete="off" disabled>
        </mat-form-field>

    </form>

    <button class="btnLimpar smallbtn" mat-raised-button (click)="cancelClient()">
        Cancelar
    </button>

    <button class="btnExcluir smallbtn" mat-raised-button (click)="deleteClient()">
        Excluir
    </button>

</mat-card>