<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav rosa" mode="side" opened fixedTopGap="70" fixedInViewport="true">
        <mat-nav-list>
            <a mat-list-item class="nav-list" routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/clients">
                <i class="material-icons">
                    group
                </i>
                Clientes
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class='content'>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>