/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cinza {
    background-color: #e0e0e0;
}

.rosa {
    background-color: #e91e63;
}

.preto {
    background-color: #272727;
}